* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  width: 100%;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif;
    /* flex-wrap: wrap; */
}
form {
  display: flex;
  flex-wrap: wrap;
}
.container {
  /* max-width: 40rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.input-field {
  margin-bottom: 1rem;
  display: flex;
  flex-basis: 400px;
  flex-direction: row;
}
.output-field {
  display: flex;
  flex-basis: 400px;
  flex-wrap: wrap;
}

.output-field label {
  padding: .5rem 10px;
}
.input-field label {
  display: block;
  padding: 0.5rem 10px;
}

.input-field select {
  font-size: 1rem;
  margin: 0 3px;
}

.input-field input {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
}

button {
  font-size: 1rem;
  padding: 0.5rem 10px;
  margin-left: 5px;
}

.holder {
  border: solid 1px black;
  width: 200px;
  margin-left: 5px;
}